{% extends "layout.html" %}

    {% block title %}
        {{titulo}}
    {% endblock %}
    {% block content %}
    <div class="container">
        <h1>NOSOTROS</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, nobis perspiciatis exercitationem commodi eligendi itaque officia nulla. Sit animi nemo labore temporibus modi. Atque, odio impedit minima quas natus aperiam?</p>
        <br>
        <h1>Nuestro Compromiso</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, nobis perspiciatis exercitationem commodi eligendi itaque officia nulla. Sit animi nemo labore temporibus modi. Atque, odio impedit minima quas natus aperiam?</p>
    </div>
    {% endblock %}
